@media screen and (min-width: 769px) {
    .navbarOnPost {
      width: 65%;
      border-radius: 0 25px;
      padding-block-start: 10px;
      margin-inline: auto;
      display: flex;
      justify-content: center; /* Added to center the form control */
      align-items: center; /* Added to center the form control */
    }
  
    .this .form-control {
      width: 500px;
      height: 50px;
    }

  }

  #navbarOnPost {
    padding-inline-end: 15%;
  }
  
  .line {
    border-top: 1px solid orange !important;
    margin: 2px;
  }
  
  