.nav-item.active {
  color: #008080 !important;
}

.new-bubble {
  color:#fff;
  position: absolute;
}

.sign-in{
  padding-inline-end: 10px !important;
}

@media screen and (max-width: 768px) {
  .navbar{
    height: 120px !important;
  }

  .no-display {
    display: none;
  }

  
  .show {
    display:none;
  }
}

.navbar-collapse{
  display: none;
}

.navbar {
  height: 100px !important;
  box-shadow: 0 16px 32px hsla(188, 63%, 7%, 0.1) !important;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:hover{
  border: 1px solid teal;
  background:inherit;
}

.dropdown-toggle{
  z-index: -1;
}

.navbar a{
  color: #fff!important;
}

.m-none{
  margin: 0;
}

.navbar-dark{
  color: white !important;
}

a:hover{
  color:#008080 !important;
  border-radius: 4px;
}


.line {
  border-top: 1px solid var(--orange-soda)!important;
  margin: 2px;
}

a{
  text-decoration:none;
}

.btn{
  width: 200px;
  border-radius: 50px;
}

.brand-font{
  font-family: 'Bruno Ace SC', cursive;
  color:#008080;
}

.vh-100{
  height: 100vh !important;
}

.brand-font:hover{
  color:  #39ff14;
}

.logo-img{
  width:50px;
  height:50px;
}

.text-center{
  text-align: center;
}

.login-modal-content div {
  width:100% !important;
  margin:auto;
}

.login-modal-content h1, .login-modal-content .footer-bottom{
  display:none;
}

@media only screen and (min-width:992px) {
  .this .form-control {
    width: 400px;
    height: 50px;
  }
}

.sign-in{
  width:  75%;
}



