@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Dosis:wght@800&family=Kaushan+Script&display=swap');

@media screen and (max-width: 768px) {


  .navbar{
    height: 120px !important;
  }

  .no-display {
    display: none;
  }

  
  .show {
    display:none;
  }
}

.navbar-collapse{
  display: none;
}
/* Styles for screens with a minimum width of 769px and a maximum width of 1024px */
@media screen and (min-width: 769px) and (max-width: 1024px) {
 

  .no-display {
    display: none;
  }

  .show {
   display:none;
  }
}



.navbar {
  height: 5.625em;
  box-shadow: 0 16px 32px hsla(188, 63%, 7%, 0.1) !important;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:hover{
  border: 1px solid teal;
  background:inherit;
}

.dropdown-toggle{
  z-index: -1;
}

.navbar a{
  color: #fff!important;
}

.m-none{
  margin: 0;
}

.navbar-dark{
  color: white !important;
}

a:hover{
  color:#008080 !important;
  border-radius: 4px;
}


.line {
  border-top: 1px solid var(--orange-soda) !important;
  margin: 2px;
}

a{
  text-decoration:none;
}

.btn{
  width: 200px;
  border-radius: 50px;
}

.brand-font{
  font-family: 'Bruno Ace SC', cursive;
  color:#008080;
}

.brand-font:hover{
  color:  #39ff14;
}

.logo-img{
  width:50px;
  height:50px;
}

.text-center{
  text-align: center;
}

.login-modal-content div {
  width:100% !important;
  margin:auto;
}

.login-modal-content h1, .login-modal-content .footer-bottom{
  display:none;
}






