
/*-----------------------------------*\
  #SERVICE
\*-----------------------------------*/

.service {
    background: var(--cultured-2) !important;
    padding-block: var(--section-padding);
  }

.service-h{
  color: var(--orange-soda) !important;
}

.height{
  height: 100%;
}
  
  .service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  
  .service-card {
    position: relative;
    background: var(--white);
    text-align: center;
    padding: 40px 30px;
    box-shadow: var(--shadow-2);
  }
  
  .service-card .card-icon {
    width: max-content;
    margin-inline: auto;
    margin-bottom: 20px;
  }

.house-icon,
.map-icon {
  display: flex;
  font-size: 1.5rem; 
  color: #fff; 
  background-color: teal;
  border-radius: 25px; 
  width: 100%;
  padding: 1rem; 
  align-items: center;
  justify-content: center;
}

  
  .service-card .card-title { margin-bottom: 15px; }
  
  .service-card .card-title > a:is(:hover, :focus) { color: var(--orange-soda); }
  
  .service-card .card-text {
    color: var(--cadet);
    font-size: var(--fs-5);
    line-height: 1.8;
    margin-bottom: 25px;
  }
  
  .service-card .card-link {
    color: var(--opal);
    font-size: var(--fs-5);
    font-weight: var(--fw-600);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  
  .service-card:is(:hover, :focus) .card-link { color: var(--orange-soda); }
  
  .service-card::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background: var(--orange-soda);
    transition: var(--transition);
  }
  
  .service-card:is(:hover, :focus)::after { width: 100%; }
  
  
  
  
  